
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading{
    border-bottom: 15px solid rosybrown;
    margin:20px;
    border-radius:10px;
    position: relative;

}
.main {
    float: left;
    position: relative;
    text-align: center;
    width: 40%;
}
#profile_img {
    filter: grayscale(100%);
    border-radius: 50%;
    width: 30%;
    height: 30%;
}
#repos {
    margin-right:10%;
    float:right;
    text-align: center;
    width: 40%;
}
#repos>div {
    color: bold;
    display: inline-block;
    position: relative;
    line-height: 125px;
    width: 125px;
    height: 125px;
    overflow: hidden;
    border: 5px solid rosybrown;
    border-radius: 50%;
    margin: 2px;
    text-align: center;
    font-weight: bolder;
}